.item {
  text-align: left;
  font-style: italic;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 5px;
}
.button_delete {
  display: inline-block;
  position: relative;
  padding: 10px;
  width: 30px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 700;
  border: 2px solid #f4f7d4;
  background-color: #f4f7d4;
  box-shadow: 6px 6px 9px -1px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 6px 6px 9px -1px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 6px 6px 9px -1px rgba(0, 0, 0, 0.47);
}

.button_delete:hover,
.button_delete:focus {
  cursor: pointer;
  border: 2px solid #7433ee;
  background-color: #7433ee;
  font-weight: 700;
  border-radius: 5px;
  color: white;
  position: relative;
}

.icon,
.iconTel {
  fill: #7433ee;
}
.icon {
  width: 100%;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease-in-out;
}
.icon:hover,
.icon:focus {
  fill: white;
  transform: translate(-50%, -50%) scale(1.2);
}
